<div class="add-product">
  <h1>Add New Product</h1>
  <form #addProduct="ngForm" class="common-form" (ngSubmit)="addNewProduct(addProduct.value)">
    <input class="form-input" type="text" name="name" ngModel placeholder="Enter Product Name">
    <input class="form-input" type="text" name="price" ngModel placeholder="Enter Product Price">
    <input class="form-input" type="text" name="category" ngModel placeholder="Enter Product Category">
    <textarea id="" cols="30" rows="10" class="form-input" name="description" ngModel
      placeholder="Enter Product Description">
    </textarea>
    <input class="form-input" type="text" name="image" ngModel placeholder="Enter Product Image Url">
    <button class="form-button">Add Product</button>

  </form>
</div>
